[Unit]
Description=Dependent Service
After=myfirst.service
Requires=myfirst.service

[Service]
Type=simple
ExecStart=/bin/bash -c "echo Dependent service running; sleep 10"

[Install]
WantedBy=default.target
