[Unit]
Description=Dependent Service
Wants=myfirst.service
After=myfirst.service

[Service]
Type=simple
ExecStart=/usr/bin/sleep infinity
Restart=on-failure

[Install]
WantedBy=default.target
