[Unit]
Description=Service with Environment variable

[Service]
Type=simple
ExecStart=/bin/bash -c "echo $MY_VAR; sleep 10"
Environment=MY_VAR=HelloWorld

[Install]
WantedBy=default.target


