[Unit]
Description=Service with Environment Variable

[Service]
Type=simple
Environment="MYVAR=HelloWorld"
ExecStart=/bin/bash -c 'echo $MYVAR'
ExecStop=/bin/kill -TERM $MAINPID
SuccessAction=none

[Install]
WantedBy=default.target


