[Unit]
Description=Restart Service Example

[Service]
Type=simple
ExecStart=/usr/bin/false
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
