[Unit]
Description=Runs mytimer.service every minute

[Timer]
OnBootSec=1m
OnUnitActiveSec=1m
Unit=mytimer.service

[Install]
WantedBy=timers.target
