[Unit]
Description=Timer Service

[Service]
Type=oneshot
ExecStart=/bin/echo "Timer executed"
ExecStop=/bin/kill -TERM $MAINPID
SuccessAction=none
